<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/app.css" type="text/css">
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script>
</head>

<body>
  <div class="main">
    <header class="header">
      <h1 class="header__title">todo<span class="header__title--span">list</span></h1>
      <h2 class="header__subtitle">A simple todo list app built with node</h2>
    </header>

    <section class="form">
      <input type="text" class="form__input" placeholder="Type new task here...">
    </section>

    <ul class="list">

    </ul>
  </div>
  <script type="text/javascript" src="scripts/app.js"></script>
</body>
</html>
