@import url("https://fonts.googleapis.com/css?family=Dosis:300,400,700");

:root {
  --col-grey-1: #fefedf;
  --col-grey-2: #828d8f;

  --col-blue-1: #4560e1;
  --col-blue-2: #464555;

  --col-delete: #ff5f6a;

  --col-main: #f0edff;

  --gradient-1: linear-gradient(to right bottom, #f9f871, #ffc359, #ff5c9b, #cf53c8, #4560e1);
  --gradient-2: linear-gradient(to right bottom, #464555, #4560e1, #aba9bb, #ff5f6a);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 60%; } }

body {
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  line-height: 1.6; }

@font-face {
  font-family: "linea-arrows-10";
  src: url("../fonts/linea-arrows-10.eot");
  src: url("../fonts/linea-arrows-10.eot?#iefix") format("embedded-opentype"), url("../fonts/linea-arrows-10.woff") format("woff"), url("../fonts/linea-arrows-10.ttf") format("truetype"), url("../fonts/linea-arrows-10.svg#linea-arrows-10") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "linea-arrows-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "linea-arrows-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrows-circle-left:before {
  content: "\e00b"; }

.icon-arrows-circle-check:before {
  content: "\e007"; }

.icon-arrows-circle-remove:before {
  content: "\e00e"; }

.header {
  text-align: center; }
  .header__title {
    font-size: 10rem;
    color: var(--col-blue-2);
    font-weight: 300; }
    .header__title--span {
      font-weight: 700;
      color: var(--col-grey-2); }
  .header__subtitle {
    font-size: 2.8rem;
    color: var(--col-blue-1);
    font-weight: 300; }


body {
  display: flex;
  justify-content: center;
  margin: 3rem;
  background: var(--gradient-2);
  background-repeat: no-repeat;
  min-height: 100vh; }

.main {
  display: inherit;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem 2rem 4rem 2rem;
  overflow: hidden;
  width: 80vw;
  height: auto;
  background: var(--col-main);
  border-radius: .5rem;
  box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.3); }

  @media only screen and (max-width: 600px) {
    body {
      margin: 0;
    }
    .main {
      width: 100%;
      background-color: rgba(255,255,255,.6); }

    .header__title {
      color: var(--col-main);
      }
    .header__title--span {
      color: var(--col-main);
      }
    .header__subtitle {
      font-size: 2.4rem;
      }}

.header {
  display: inherit;
  flex-direction: column;
  justify-content: center; }

.form {
  display: inherit;
  justify-content: center; }
  .form__input {
    border: none;
    width: 60%;
    margin-top: 2rem;
    height: 5rem;
    padding-left: 2rem;
    background: none;
    font-family: "Dosis", sans-serif;
    font-weight: 300;
    color: var(--col-blue-1);
    font-size: 2.2rem;
    border-bottom: solid 1px var(--col-grey-2);
    transition: all .3s; }
    .form__input:focus {
      border-bottom: solid 1px var(--col-blue-2); }
    @media only screen and (max-width: 800px) {
      .form__input {
        width: 90%;
        padding-left: 1rem; } }

.list {
  align-self: center;
  width: 60%;
  margin-top: 2rem;
  font-family: "Dosis", sans-serif;
  font-size: 2rem;
  color: var(--col-blue-1);
  list-style-type: none; }
  .list__task {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid transparent;
    transition: all .3s; }
    .list__task--icon-span {
      font-family: "linea-arrows-10";
      font-size: 1.5rem;
      margin-right: 1.5rem;
      transition: all .3s; }
      .list__task--icon-span::before {
        content: "\e00b";
        color: var(--col-grey-2); }
      .list__task--icon-span:hover {
        transform: scale(1.1);
        cursor: pointer; }
        .list__task--icon-span:hover::before {
          content: "\e00e";
          color: var(--col-delete); }
      .list__task--icon-span:active {
        transform: translateY(2px); }
      @media only screen and (max-width: 800px) {
        .list__task--icon-span {
          font-size: 2.3rem; } }
    .list__task--par {
      flex-basis: 100%;
      padding-left: 1rem;
      border-bottom: transparent 1px solid;
      transition: all .3s;
      cursor: pointer; }
      .list__task--par:hover {
        border-bottom: 1px solid var(--col-grey-1);
        transform: translateY(-2px);
        box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.3); }
    @media only screen and (max-width: 800px) {
      .list__task {
        padding-left: 1rem; } }
  @media only screen and (max-width: 800px) {
    .list {
      width: 90%;
      font-size: 2.3rem; } }
  @media only screen and (max-width: 600px) {
    .list {
      font-size: 2.3rem;
      padding: 0;}
    .list__task--par:hover {
      border-bottom: 1px solid transparent;
      transform: translateY(0);
      box-shadow: none; }

    .list__task--par:active,
    .list__task--par:focus {
      font-weight: 700;

    }
    }


.complete {
  text-decoration: line-through;
  color: var(--col-grey-2); }
  .complete:hover {
    transform: none;
    box-shadow: none; }

.icon_complete::before {
  content: "\e007";
  color: var(--col-blue-2); }
